# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Curso de C/Exercicio 029/.vs/Exercicio 029/v16/ipch/AutoPCH/789cd4643170ab0/EXERCICIO 029.ipch
*.ipch
*.log
*.opendb
*.json
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe.recipe
*.log
*.idb
*.pdb
*.vs
*.sqlite
*.lastbuildstate
*.tlog
Curso de C/Exercicio 030/.vs/Exercicio 030/v16/Browse.VC.db
Curso de C/Exercicio 030/Debug/Exercicio 030.tlog/CL.command.1.tlog
*.tlog
*.txt
*.db
Curso de C/Exercicio 032/.vs/Exercicio 032/v16/.suo
Curso de C/Exercicio 033/.vs/Exercicio 033/v16/.suo
Curso de C/Desafio_Olimpico/.vs/Desafio_Olimpico/v16/.suo
Curso de C/Exercicio 034/.vs/Exercicio 034/v16/.suo
Curso de C/Operador_logico/.vs/Operador_logico/v16/.suo
Curso de C/Exercicio 035/.vs/Exercicio 035/v16/.suo
Curso de C/Operador_logico_.OU/.vs/Operador_logico_.OU/v16/.suo
Curso de C/Exercicio 036/.vs/Exercicio 036/v16/.suo
Curso de C/Desafio_Olimpico/Desafio_Olimpico/Desafio_Olimpico.cpp
Curso de C/Desafio_Olimpico/Desafio_Olimpico/.vs/Desafio_Olimpico/v16/.suo
